@extends('layouts.master')

@section('content')

<h1>Viewing all <%= resource.pluralize %>.</h1>

@foreach($<%= resource.pluralize %> as $<%= resource %>)
  
@endforeach

<% if pagination %>{{ $<%= resource.pluralize %>->links() }}<% end %>

@stop
